port 1194
proto udp
#dev tap0
dev tun
tun-mtu 1500
mssfix 1300
ca /etc/openvpn/ca.crt
cert /etc/openvpn/server.crt
key /etc/openvpn/server.key
dh /etc/openvpn/dh.pem

server 172.16.0.0 255.255.255.0 
#server-bridge 192.168.8.4 255.255.255.0 192.168.8.128 192.168.8.254
route 172.16.2.0 255.255.255.0
push "route 172.16.1.0 255.255.255.0"

client-config-dir /etc/openvpn/ccd

keepalive 10 120
comp-lzo
persist-key
persist-tun

status /var/log/openvpn-status.log
log /var/log/openvpn.log
verb 3
